@model leave_management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Tipos de Licencia
            </th>
            <th>
                Acción
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id">
                    <i class="fa fa-pencil"></i> Asignar a empleados
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
