@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido al Sistema de Administración de Licencias</h1>
        <p>
            Applicación guiada por este
            <a href="https://www.udemy.com/course/complete-aspnet-core-31-and-entity-framework-development">Curso de Udemy</a>.
        </p>
    </div>
</div>
