@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Applicación guiada por este 
    <a href="https://www.udemy.com/course/complete-aspnet-core-31-and-entity-framework-development">Curso de Udemy</a>.</p>
</div>
