@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <h1>Login</h1>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Inicie su sesión</p>
                <div asp-validation-summary="All" class="text-danger"></div>

                <form id="account" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="Input.RememberMe" id="remember">
                                <label for="remember">
                                    Recordarme
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="mb-1 mt-2">
                                <i class="fas fa-exclamation"></i>
                                <a id="forgot-password" asp-page="./ForgotPassword">
                                    Olvidé mi contraseña
                                </a>
                            </p>
                        </div>
                        <!-- /.col -->
                        <div class="col-6">
                            <p class="mb-0 mt-2">
                                <i class="fas fa-user-plus"></i>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                                    Registrarse
                                </a>
                            </p>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>



            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
